{% extends "product/base_product.html" %}

{% block product_content %}
<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <div class="mb-4 flex justify-end"> {## Yeni kategori ekleme bağlantısı ##}
          <a href="{% url 'product:category_create' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Yeni Kategori Ekle
          </a>
        </div>
        <table class="min-w-full">
          <thead class="border-b">
            <tr>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Kategori Adı
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Üst Kategori
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                İşlemler
              </th>
            </tr>
          </thead>
          <tbody>
            {% for category in categories %}
            <tr class="border-b">
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ category.name }}</td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                {{ category.parent }}
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                <a href="{% url 'product:category_update' category.id %}" class="text-blue-600 hover:text-blue-900">Düzenle</a> |
                <a href="{% url 'product:category_delete' category.id %}" class="text-red-600 hover:text-red-900">Sil</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}